.sobre__titulo{
    color: #8D0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
    font-weight: 400;
}

@media screen and (max-width: 768px){
    .sobre__titulo{
        font-size: 2.5rem;
    }
}