.receita{
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    margin: 0 5rem 5rem 0;
    width: 25%;
}

@media screen and (max-width: 768px){
    .receita{
        margin: 2rem auto;
        width: 70%;
    }
}