header{
    background: #f2f4f7;
    padding:20px;
}

.menu-container{
    width: 940px;
    position: relative;
    margin: auto;
}

nav{
    position: absolute;
    top: 45%;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
    
}

nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #f2f4f7;
    padding: 15px;
    background: #020205 ;
}

nav a:hover{
    background: #e43a19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin:0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;

}

.produtos li:hover{
    border-color: slateblue;
}

.produtos li:hover h2{
    font-size: 34px;    
}

.produtos li:active{
    border-color: red ;
}


.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.prod-desc{
    font-size: 18px;
}
.prod-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/*Footer*/
footer{
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 20px 0 20px;
}

.copyright{
    color: #f2f4f7;
    font-size: 13px;
    margin: 20px;
}